<p-toolbar>
  <div style="flex-grow: 1">
    <input
      type="text"
      pInputText
      placeholder="Search note by title or description"
      fluid
      [ngModel]="searchFilter.text"
      (ngModelChange)="updateSearchText($event)"
    />
  </div>
  <ng-template #end>
    <div class="flex gap-4">
      <app-select-tag
        [options]="priorityOptions"
        [optionLabel]="priorityOptionLabel"
        [placeholder]="priorityPlaceholder"
        [showClear]="true"
        [selectedOption]="prioritySelectedOption"
        (selectedOptionEvent)="receivePrioritySelectedOption($event)"
      ></app-select-tag>
    </div>
    <div class="flex gap-4">
      <app-select-tag
        [options]="otherOptions"
        [optionLabel]="otherOptionLabel"
        [placeholder]="otherPlaceholder"
        [showClear]="true"
        [selectedOption]="otherSelectedOption"
        (selectedOptionEvent)="receiveOtherSelectedOption($event)"
      ></app-select-tag>
    </div>
  </ng-template>
</p-toolbar>
