<p-toolbar>
  <div style="flex-grow: 1">
    <input
      type="text"
      pInputText
      placeholder="Search note by title or description"
      fluid
      [ngModel]="searchFilter.text"
      (ngModelChange)="updateSearchText($event)"
    />
  </div>
  <ng-template #end>
    <div class="flex gap-4">
      <app-select-tag
        [options]="priorityOptions"
        [optionLabel]="priorityOptionLabel"
        [placeholder]="priorityPlaceholder"
        [showClear]="true"
        [(selectedOption)]="prioritySelectedOption"
        (selectedOptionChange)="updateSearchPriority($event)"
      ></app-select-tag>
      <app-select-tag
        [options]="otherOptions"
        [optionLabel]="otherOptionLabel"
        [placeholder]="otherPlaceholder"
        [showClear]="true"
        [(selectedOption)]="otherSelectedOption"
        (selectedOptionChange)="updateSearchOther($event)"
      ></app-select-tag>
      <p-button (click)="clearAllFilters()"
        >Clear <i class="pi pi-filter-slash"></i
      ></p-button>
    </div>
  </ng-template>
</p-toolbar>
