<p-toolbar>
  <div style="flex-grow: 1">
    <input
      type="text"
      pInputText
      placeholder="Search note by title"
      fluid
      [ngModel]="searchFilter.text"
      (ngModelChange)="updateSearchText($event)"
    />
  </div>
  <ng-template #end>
    <div class="flex gap-4">
      <app-select-tag
        [options]="options"
        [optionLabel]="optionLabel"
        [placeholder]="placeholder"
        [showClear]="true"
        [selectedOption]="selectedOption"
        (selectedOptionEvent)="receiveSelectedOption($event)"
      ></app-select-tag>
    </div>
  </ng-template>
</p-toolbar>
