<div class="flex container-full">
  <div
    routerLink="/"
    style="
      position: absolute;
      left: 1%;
      top: 1.5%;
      font-size: 1.5em;
      font-weight: 600;
      cursor: pointer;
    "
  >
    Todo list
  </div>
  <h2>Login</h2>
  <form [formGroup]="loginForm" class="flex-col-center">
    <p-floatlabel variant="in" style="margin: 0.5em 0">
      <input
        id="username"
        type="text"
        pInputText
        formControlName="username"
        autocomplete="off"
        required
      />
      <label for="username">Username</label>
    </p-floatlabel>
    <p-floatlabel variant="in" style="margin: 0.5em 0">
      <input
        id="password"
        type="password"
        pInputText
        formControlName="password"
        autocomplete="off"
        required
      />
      <label for="password">Password</label>
    </p-floatlabel>
    <p-button
      type="submit"
      label="Login"
      [disabled]="!loginForm.valid"
      [style]="{ margin: '0.5em' }"
    ></p-button>
  </form>
  <div>
    Don't have an account yet? <a routerLink="/register">Register here</a>
  </div>
</div>
