<main class="container-full">
  <div class="container">
    <div class="flex-col-center" style="margin: 1em">
      <h1>Welcome to Todo list!</h1>
      <br />
      <div class="words-carousel">
        <div class="words">
          @for (word of wordsList; track $index) {
          <div>
            {{ word }}
          </div>
          } @for (word of wordsList; track $index) {
          <div>
            {{ word }}
          </div>
          }
        </div>
        <div class="words-carousel-overlay"></div>
      </div>
      <h3>Create your own list here</h3>
      <p-button
        routerLink="/notes"
        class="start-button"
        [style]="{ fontSize: '18px' }"
        >Start planning</p-button
      >
    </div>
    <p-timeline [value]="timelineValues" align="alternate">
      <ng-template #content let-value>
        {{ value }}
      </ng-template>
    </p-timeline>
  </div>
</main>
