<main class="container-full">
  <h1>Welcome to Todo list!</h1>
  <div class="words-carousel">
    <div class="words">
      @for (word of wordsList; track $index) {
      <span [style]="{ padding: '0.5em' }">{{ word }}</span>
      } @for (word of wordsList; track $index) {
      <span [style]="{ padding: '0.5em' }">{{ word }}</span>
      }
    </div>
    <span id="space">&nbsp;</span>
    <div class="words-carousel-overlay"></div>
  </div>
  <h3>Create your own list here</h3>
  <p-button routerLink="/notes" class="font-bold">Start planning</p-button>
</main>
