.notes-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.notes-list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-note {
  display: flex;
  justify-content: center;
  align-items: center;
}

app-note,
p-card {
  min-width: 300px;
  max-width: 500px;
}
