<main class="container-full">
  <div class="container-full-nocenter">
    <div style="width: 80%">
      <app-navbar
        [options]="priorityLabels"
        optionLabel="text"
        placeholder="Select priority"
        (filterNotesEvent)="filterNotes()"
        (searchFilterEvent)="receiveSearchFilterEvent($event)"
        [style]="{ width: '80%', margin: '0 0.5em' }"
      ></app-navbar>
      <section class="notes-display-options">
        <div class="notes-display-options-left">
          <span style="padding: 0.5em">Sort by:</span>
          <p-select
            [options]="sortingOptions"
            [(ngModel)]="selectedSort"
            placeholder="Choose sorting"
          ></p-select>
        </div>
        <div class="notes-display-options-right">
          <p-button variant="text" (click)="setNotesView(1)">
            <span
              class="pi pi-list"
              [ngStyle]="{
                color:
                  currentViewKind === 1
                    ? 'var(--p-primary-active-color)'
                    : 'var(--p-primary-color)',
                fontSize: '18px'
              }"
            ></span>
          </p-button>
          <p-button variant="text" (click)="setNotesView(0)">
            <span
              class="pi pi-th-large"
              [ngStyle]="{
                color:
                  currentViewKind === 0
                    ? 'var(--p-primary-active-color)'
                    : 'var(--p-primary-color)',
                fontSize: '18px'
              }"
            ></span>
          </p-button>
        </div>
      </section>
      <section class="notes-list">
        @for (note of filteredNotesList; track $index) {<app-note
          [noteData]="note"
          [style]="{ width: note.viewKind == 1 ? '100%' : 'initial' }"
        ></app-note
        >} @if (currentViewKind == 0) {
        <p-card class="add-note" (click)="displayNoteCreator()">
          <ng-template #content>
            <div class="container-full"><p class="pi pi-plus"></p></div>
          </ng-template>
        </p-card>
        } @else if (currentViewKind == 1) {
        <p-panel class="note-add-panel" (click)="displayNoteCreator()">
          <ng-template #icons>
            <p-button variant="text" icon="pi pi-plus"></p-button>
          </ng-template>
          <ng-template #content></ng-template>
        </p-panel>
        } @else {
        <p>Something went wrong with displaying notes</p>
        }
      </section>
      @if (isNoteCreatorDisplayed) {
      <p-dialog
        header="Create a note"
        closable="true"
        draggable="false"
        [modal]="true"
        [(visible)]="isNoteCreatorDisplayed"
      >
        <form [formGroup]="noteForm" (submit)="createNote()">
          <p-floatlabel variant="in" style="margin: 0.5em 0">
            <input
              pInputText
              id="title"
              formControlName="title"
              autocomplete="off"
              required
            />
            <label for="title">Title</label>
          </p-floatlabel>
          <p-floatlabel variant="in" style="margin: 0.5em 0">
            <input
              pInputText
              id="description"
              formControlName="description"
              autocomplete="off"
            />
            <label for="description">Description</label>
          </p-floatlabel>

          <app-select-tag
            [options]="labels"
            optionLabel="text"
            placeholder="Select labels"
            [showClear]="false"
            [selectedOption]="noteForm.value.labels"
            (selectedOptionEvent)="receiveSelectedOption($event)"
          ></app-select-tag>
          <div style="max-width: 300px; margin: 0.5em 0">
            @for (label of selectedLabels; track $index) {
            <p-chip
              [label]="label.text"
              [style]="{
                margin: '0.1em',
                fontWeight: 600,
                color: label.color,
                backgroundColor: label.backgroundColor,
              }"
              [removable]="true"
              (onRemove)="removeSelectedLabel(label)"
            ></p-chip>
            }
          </div>
          <div
            style="
              width: 100%;
              margin: 0.5em 0;
              display: flex;
              justify-content: flex-end;
            "
          >
            <p-button
              type="submit"
              label="Create"
              [disabled]="!noteForm.valid"
            ></p-button>
          </div>
        </form>
      </p-dialog>
      }
    </div>
  </div>
</main>
