<p-select
  [(ngModel)]="selectedOption"
  [options]="options"
  [optionLabel]="optionLabel"
  [placeholder]="placeholder"
  [showClear]="showClear"
  appendTo="body"
>
  <ng-template let-selectedOption #selectedItem>
    <p-tag
      [ngStyle]="{
        color: selectedOption.color,
        backgroundColor: selectedOption.backgroundColor
      }"
      >{{ selectedOption.text }}</p-tag
    >
  </ng-template>
  <ng-template let-label #item>
    <p-tag
      [ngStyle]="{
        color: label.color,
        backgroundColor: label.backgroundColor
      }"
      >{{ label.text }}</p-tag
    >
  </ng-template>
</p-select>
