.note-image-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.note-mark-as-done {
  margin-left: 0.2em;
  cursor: pointer;
}
.note-icon-trash-hover:hover {
  color: var(--p-primary-error-color);
}
.note-icon-pencil-hover:hover {
  color: var(--p-primary-active-color);
}
