/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
}
html.my-app-light {
  background: linear-gradient(
    90deg,
    color-mix(in srgb, var(--p-primary-contrast-color) 80%, transparent) 0%,
    color-mix(in srgb, var(--p-primary-inverse-color) 50%, transparent) 30%,
    color-mix(in srgb, var(--p-primary-contrast-color) 80%, transparent) 70%
  );
}
html.my-app-dark {
  background: linear-gradient(
      0deg,
      color-mix(in srgb, var(--p-primary-contrast-color) 80%, transparent),
      color-mix(in srgb, var(--p-primary-inverse-color) 50%, transparent) 70%
    ),
    linear-gradient(
      180deg,
      color-mix(in srgb, var(--p-primary-inverse-color) 80%, transparent),
      color-mix(in srgb, var(--p-primary-contrast-color) 80%, transparent) 70%
    );
}

.container {
  width: fit-content;
  height: fit-content;
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
}

.container-full {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-full-nocenter {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gap-2 {
  gap: 2px;
}

.gap-4 {
  gap: 4px;
}

.gap-8 {
  gap: 8px;
}

.m-lr-half {
  * > * {
    margin: 0 0.5em;
  }
}
.m-tb-half {
  * > * {
    margin: 0.5em 0;
  }
}

/* Adjustments for PrimeNG component styles */
.p-card {
  width: 300px;
  height: fit-content;
  min-height: 250px;
  max-height: 300px;
  margin: 0.3em;
  display: flex;
  overflow: hidden;
}

.p-panel-header {
  cursor: pointer;
}

.note-add-panel .p-panel-header {
  justify-content: flex-end;
}
.note-add-panel .p-panel-content {
  padding: 0;
}
.note-add-panel {
  width: 100%;
}
