<main class="container-full" style="margin-bottom: 0.1em">
  <div class="container slide-down">
    <div class="flex-col-center" style="margin: 1em">
      <h1>Welcome to Todo list!</h1>
      <br />
      <div class="words-carousel">
        <div class="words">
          @for (word of wordsList; track $index) {
          <div>
            {{ word }}
          </div>
          } @for (word of wordsList; track $index) {
          <div>
            {{ word }}
          </div>
          }
        </div>
        <div class="words-carousel-overlay"></div>
      </div>
      <h3>Create your own list here</h3>
      <p-button
        routerLink="/register"
        class="start-button"
        raised="true"
        [style]="{ fontSize: '18px' }"
        >Start planning</p-button
      >
    </div>
  </div>
</main>
<section class="container-full">
  <p-timeline
    [value]="timelinePoints"
    align="alternate"
    [style]="{ display: 'flex', justifyContent: 'center' }"
    pAnimateOnScroll
    enterClass="slide-down"
    once="false"
  >
    <ng-template #marker let-value>
      <i class="{{ value.iconClass }} timeline-marker"></i>
    </ng-template>
    <ng-template #content let-value>
      <h3>{{ value.header }}</h3>
      <p style="min-height: 3em">{{ value.description }}</p>
    </ng-template>
  </p-timeline>
</section>
<span
  id="scroll-down-button"
  [style]="{
    display: 'flex',
    flexDirection: 'column',
    justifyContent: 'center',
    alignItems: 'center',
    position: 'fixed',
    top: '95%',
    left: '50%',
    transform: 'translate(-50%, -50%)',
    color: 'var(--p-primary-hover-color)',
    animation: '2000ms bounceTranslated infinite',
    cursor: 'pointer'
  }"
  (click)="scrollDown($event)"
>
  Scroll down
  <i
    class="pi pi-arrow-down"
    style="padding: 0.2em 0; font-size: 1.2em; color: var(--p-primary-color)"
  ></i>
</span>
