:root {
  --carousel-index: 1;
}

.words-carousel {
  max-width: 300px;
  position: relative;
  overflow: hidden;
  z-index: var(--carousel-index);
  -webkit-mask-image: linear-gradient(
    90deg,
    transparent 0%,
    var(--p-primary-contrast-color) 10%,
    var(--p-primary-contrast-color) 90%,
    transparent 100%
  );
  mask-image: linear-gradient(
    90deg,
    transparent 0%,
    var(--p-primary-contrast-color) 10%,
    var(--p-primary-contrast-color) 90%,
    transparent 100%
  );
}
.words-carousel-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translate(0%, -100%);
  z-index: calc(var(--carousel-index) + 1);
}

.words {
  width: fit-content;
  display: flex;
  font-size: 26px;
  font-weight: 600;
  word-spacing: 2em;
  white-space: nowrap;
  animation: 6000ms slideWords linear infinite;
}
.words > div {
  padding: 0 0.5em;
}

.start-button {
  animation: 400ms resizePop ease-in 1;
}

.slide-down {
  animation: 600ms fadeSlideDown ease-out 1;
}

.timeline-marker {
  padding: 0.5em;
  font-size: 1.2em;
  color: var(--p-primary-contrast-color);
  background-color: var(--p-primary-color);
  border-radius: 100%;
  transition: background var(--timeline-hover) ease-in;
}

@keyframes slideWords {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}
