@if (noteData.viewKind == 0) {
  <p-card [header]="noteData.title" [subheader]="noteData.subtitle">
  <ng-template #content>
    @for (label of noteData.labels; track label.text) {
    <p-tag
      [ngStyle]="{ color: label.color, backgroundColor: label.backgroundColor }"
      >{{ label.text }}</p-tag
    >
    }
    <p>Created: {{ noteData.dateCreated | date : "medium" }}</p>
    <p>{{ noteData.done ? "Finished" : "Not done" }}</p>
  </ng-template>
</p-card>
}
@else if (noteData.viewKind == 1) {
  <p>hello</p>
}