@if (noteData.viewKind == 0) {
<p-card [header]="noteData.title" [subheader]="noteData.description">
  <ng-template #content>
    @for (label of noteData.labels; track label.text) {
    <p-tag
      [ngStyle]="{ color: label.color, backgroundColor: label.backgroundColor }"
      >{{ label.text }}</p-tag
    >
    }
    <p>Created: {{ noteData.dateCreated | date : "medium" }}</p>
    <p>{{ noteData.done ? "Finished" : "Not done" }}</p>
  </ng-template>
</p-card>
} @else if (noteData.viewKind == 1) {
<p-panel
  [toggleable]="true"
  [collapsed]="true"
  collapseIcon="pi pi-angle-down"
  expandIcon="pi pi-angle-up"
  toggler="header"
>
  <ng-template #header>
    <b>{{ noteData.title }}</b>
  </ng-template>
  <ng-template #footer>
    <span>{{ noteData.dateCreated | date : "dd.MM.yyyy, HH:mm" }}</span>
  </ng-template>
  <div class="container-full-no-center gap-2">
    <div>{{ noteData.description }}</div>
    <div>
      @for (label of noteData.labels; track label.text) {
      <p-tag
        [ngStyle]="{
          color: label.color,
          backgroundColor: label.backgroundColor
        }"
        >{{ label.text }}</p-tag
      >
      }
    </div>
    {{ (noteData.done) ? `Done ${noteData.dateDone | date : "short"}` : "Not done"  }}
  </div>
</p-panel>
}
