@if (noteData.viewKind == 0) {
<p-card
  [subheader]="noteData.description"
  (mouseover)="displayEditButton($event, true)"
  (mouseleave)="displayEditButton($event, false)"
>
  <ng-template #header>
    <div class="note-image-container">
      <div
        style="
          width: 100%;
          display: flex;
          justify-content: space-between;
          padding: 1em 1em 1em 1em;
        "
      >
        <b style="font-size: 18px">{{ noteData.title }}</b>
        <div
          [style]="{
            display: isHovered ? 'inline' : 'none',
            cursor: 'pointer',
          }"
          (click)="displayNoteCreator()"
        >
          <i class="pi pi-pencil note-icon-hover"></i>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #content>
    <div class="flex-start gap-4">
      @for (label of noteData.labels; track label.text) {
      <p-tag
        [ngStyle]="{
          color: label.color,
          backgroundColor: label.backgroundColor
        }"
        >{{ label.text }}</p-tag
      >
      }
    </div>
    <p
      [pTooltip]="(noteData.dateCreated | date : 'medium') || ''"
      tooltipPosition="bottom"
    >
      Created: {{ noteData.dateCreated.getTime() | timeAgo }}
    </p>
    @if (noteData.done) {
    <p style="color: rgb(0, 167, 0)">
      <span class="pi pi-check" style="padding: 0 0.2em"></span>Finished
    </p>
    } @else {
    <p style="color: rgb(158, 158, 158)">
      <span class="pi pi-times" style="padding: 0 0.2em"></span>Not done yet
      <span
        pTooltip="Mark as done"
        class="pi pi-check-square note-mark-as-done note-icon-hover"
        (click)="markAsDone(noteData.id)"
      ></span>
    </p>
    }
  </ng-template>
</p-card>
} @else if (noteData.viewKind == 1) {
<p-panel
  [toggleable]="true"
  [collapsed]="true"
  collapseIcon="pi pi-angle-down"
  expandIcon="pi pi-angle-up"
  toggler="header"
  (collapsedChange)="toggleHeaderInfo($event)"
  (mouseover)="displayEditButton($event, true)"
  (mouseleave)="displayEditButton($event, false)"
>
  <ng-template #header>
    <div class="flex-between gap-8">
      @if (displayHeaderInfo) {
      <b style="font-size: 18px"
        >{{ noteData.title }} - @if (priorityLabel) {
        <p-tag
          [ngStyle]="{
            color: priorityLabel.color,
            backgroundColor: priorityLabel.backgroundColor
          }"
          >{{ priorityLabel.text }}</p-tag
        >
        }
      </b>
      @if (noteData.dateDone) {
      <span style="color: rgb(0, 167, 0)">
        <span class="pi pi-check" style="padding: 0 0.2em"></span>Finished
      </span>
      - {{ noteData.dateDone | date : "medium" }} } @else {
      <span style="color: rgb(158, 158, 158)">
        <span class="pi pi-times" style="padding: 0 0.2em"></span>Not done yet
      </span>
      } } @else {
      <b style="font-size: 18px">{{ noteData.title }}</b>
      }
    </div>
    <div
      [style]="{
        margin: 0,
        padding: 0,
        display: isHovered ? 'flex' : 'none',
        flex: 1,
        justifyContent: 'flex-end',
        cursor: 'pointer',
      }"
    >
      <i
        class="pi pi-pencil note-icon-hover"
        (click)="displayNoteCreator()"
      ></i>
    </div>
  </ng-template>
  <ng-template #footer>
    <p
      [pTooltip]="(noteData.dateCreated | date : 'medium') || ''"
      tooltipPosition="bottom"
      style="width: fit-content"
    >
      Created: {{ noteData.dateCreated.getTime() | timeAgo }}
    </p>
  </ng-template>
  <div class="container-full-no-center m-tb-half">
    <div [style]="{ color: 'var(--p-card-subtitle-color)' }">
      {{ noteData.description }}
    </div>
    <div class="flex-start gap-4">
      @for (label of noteData.labels; track label.text) {
      <p-tag
        [ngStyle]="{
          color: label.color,
          backgroundColor: label.backgroundColor
        }"
        >{{ label.text }}</p-tag
      >
      }
    </div>
    @if (noteData.dateDone) {
    <span style="color: rgb(0, 167, 0)">
      <span class="pi pi-check" style="padding: 0 0.2em"></span>Finished
    </span>
    - {{ noteData.dateDone | date : "medium" }} } @else {
    <span style="color: rgb(158, 158, 158)">
      <span class="pi pi-times" style="padding: 0 0.2em"></span>Not done yet
      <span
        pTooltip="Mark as done"
        class="pi pi-check-square note-mark-as-done note-icon-hover"
        (click)="markAsDone(noteData.id)"
      ></span>
    </span>
    }
  </div>
</p-panel>
}
